.navbar_menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navbar_menu li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: clamp(1rem, 0.7714rem + 0.3571vw, 1.2rem);
}

.navbar_menu li a {
  color: var(--Blue);
}

.navbar_menu li a:hover {
  transform: translate(2px);
  transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.navbar_menu svg {
  margin-top: .2rem;
  width: 2.8rem;
}