.navbar_menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: .8rem 0;
}

.navbar_menu li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: clamp(0.7rem, 0.5857rem + 0.1786vw, 0.8rem);
}

.navbar_menu li a {
  padding-top: .4rem;
  color: var(--Blue);
  font-weight: 900;
}

.navbar_menu svg {
  width: 1.5rem;
}